{
  "presets": [
    "./tools/envPreset",
    "stage-2",
    "react",
    "flow"
  ],
  "plugins": [
    ["relay", { "schema": "src/data/schema.graphql" }],
    ["flow-react-proptypes", { "ignoreNodeModules": true }]
  ]
}
